---
http_interactions:
- request:
    method: post
    uri: https://api.helcim.com/v2/payment/purchase
    body:
      encoding: UTF-8
      string: '{"amount":95.85,"currency":"INVALID","ipAddress":"127.0.0.1","ecommerce":true,"cardData":{"cardToken":"cdeed21583e976f9ef4843"},"customerCode":"CST1146"}'
    headers:
      Api-Token:
      - "<API_TOKEN>"
      Content-Type:
      - application/json
      Idempotency-Key:
      - 85cf1a1a-ff25-45ed-8964-3
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Hour-Limit-Remaining:
      - '3000'
      Minute-Limit-Remaining:
      - '98'
    body:
      encoding: UTF-8
      string: '{"errors":{"currency":"currency (INVALID) must be a valid Constant"}}'
  recorded_at: Fri, 11 Apr 2025 17:21:12 GMT
recorded_with: VCR 6.3.1
