---
http_interactions:
- request:
    method: post
    uri: https://api.helcim.com/v2/payment/purchase
    body:
      encoding: UTF-8
      string: '{"amount":-97.77,"currency":"USD","ipAddress":"127.0.0.1","ecommerce":true,"cardData":{"cardToken":"cdeed21583e976f9ef4843"},"customerCode":"CST1146"}'
    headers:
      Api-Token:
      - "<API_TOKEN>"
      Content-Type:
      - application/json
      Idempotency-Key:
      - fbecc200-0503-4379-a4c0-3
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Hour-Limit-Remaining:
      - '3000'
      Minute-Limit-Remaining:
      - '97'
    body:
      encoding: UTF-8
      string: '{"errors":{"amount":"amount must be a valid Non-negative Number"}}'
  recorded_at: Fri, 11 Apr 2025 17:21:12 GMT
recorded_with: VCR 6.3.1
