---
http_interactions:
- request:
    method: post
    uri: https://api.helcim.com/v2/payment/preauth
    body:
      encoding: UTF-8
      string: '{"amount":81.84,"currency":"USD","ipAddress":"127.0.0.1","ecommerce":true,"cardData":{"cardToken":"cdeed21583e976f9ef4843"},"customerCode":"CST1146"}'
    headers:
      Api-Token:
      - "<API_TOKEN>"
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3218ad53-3898-4fc1-8810-2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Hour-Limit-Remaining:
      - '3000'
      Minute-Limit-Remaining:
      - '96'
    body:
      encoding: ASCII-8BIT
      string: '{"transactionId":33888446,"dateCreated":"2025-04-11 11:21:13","cardBatchId":4662020,"status":"APPROVED","user":"Helcim
        System","type":"preauth","amount":81.84,"currency":"USD","avsResponse":"X","cvvResponse":"","cardType":"VI","approvalCode":"T9E7ST","cardToken":"cdeed21583e976f9ef4843","cardNumber":"4124939990","cardHolderName":"John
        Doe","customerCode":"CST1146","invoiceNumber":"INV001127","warning":""}'
  recorded_at: Fri, 11 Apr 2025 17:21:14 GMT
recorded_with: VCR 6.3.1
