---
http_interactions:
- request:
    method: get
    uri: https://api.helcim.com/v2/customers/28630702/cards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Hour-Limit-Remaining:
      - '3000'
      Minute-Limit-Remaining:
      - '97'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":27567085,"cardHolderName":"John Doe","cardF6L4":"4124939990","cardToken":"cdeed21583e976f9ef4843","cardExpiry":"0128","dateCreated":"2025-04-09
        10:30:14","dateUpdated":"2025-04-10 14:15:08","default":true},{"id":27602363,"cardHolderName":"Some
        Dude","cardF6L4":"4000000028","cardToken":"b8cf2654a321edba5addad","cardExpiry":"0128","dateCreated":"2025-04-10
        14:05:26","dateUpdated":"2025-04-10 14:05:26","default":false}]'
  recorded_at: Thu, 10 Apr 2025 20:29:33 GMT
recorded_with: VCR 6.3.1
