---
http_interactions:
- request:
    method: get
    uri: https://api.helcim.com/v2/customers?customerCode=CST1146
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Hour-Limit-Remaining:
      - '3000'
      Minute-Limit-Remaining:
      - '98'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":28630702,"customerCode":"CST1146","businessName":"","contactName":"Card
        Token Test User","dateCreated":"2025-04-09 10:30:15","dateUpdated":"2025-04-09
        12:20:34","cellphone":"","billingAddress":"","shippingAddress":"","cards":[]}]'
  recorded_at: Thu, 10 Apr 2025 20:33:06 GMT
recorded_with: VCR 6.3.1
