---
http_interactions:
- request:
    method: get
    uri: https://api.helcim.com/v2/customers?customerCode=CST1146&includeCards=yes&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Token:
      - "<API_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Hour-Limit-Remaining:
      - '3000'
      Minute-Limit-Remaining:
      - '99'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":28630702,"customerCode":"CST1146","businessName":"","contactName":"Card
        Token Test User","dateCreated":"2025-04-09 10:30:15","dateUpdated":"2025-04-09
        12:20:34","cellphone":"","billingAddress":"","shippingAddress":"","cards":[{"id":27567085,"cardHolderName":"John
        Doe","cardF6L4":"4124939990","cardToken":"cdeed21583e976f9ef4843","cardExpiry":"0128","dateCreated":"2025-04-09
        10:30:14","dateUpdated":"2025-04-10 14:29:49","default":true}]}]'
  recorded_at: Thu, 10 Apr 2025 20:33:06 GMT
recorded_with: VCR 6.3.1
