---
http_interactions:
- request:
    method: patch
    uri: https://api.helcim.com/v2/customers/28630702/cards/27567085/default
    body:
      encoding: UTF-8
      string: ''
    headers:
      Api-Token:
      - "<API_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Hour-Limit-Remaining:
      - '3000'
      Minute-Limit-Remaining:
      - '96'
    body:
      encoding: ASCII-8BIT
      string: '{"customer":{"id":28630702,"dateCreated":"2025-04-09 10:30:15","dateUpdated":"2025-04-09
        12:20:34","merchantId":281885,"defaultCard":27567085,"defaultLanguage":1,"defaultBankAccount":0,"customerCode":"CST1146","userGoogleId":"","userFacebookId":"","businessName":"","contactName":"Card
        Token Test User","billingAddressId":0,"shippingAddressId":0,"createdBy":0,"password":"","passwordExpiry":"0000-00-00
        00:00:00","loginStatus":0,"loginAttempts":0,"cellPhone":"","lastIpAddress":"23.243.48.119","lastPIN":"","lastLoginDate":"0000-00-00
        00:00:00","acceptsMarketing":1,"taxExempt":0,"wholesale":0,"vatNumber":"","cards":[]}}'
  recorded_at: Thu, 10 Apr 2025 20:29:34 GMT
recorded_with: VCR 6.3.1
