---
http_interactions:
- request:
    method: post
    uri: https://api.helcim.com/v2/payment/preauth
    body:
      encoding: UTF-8
      string: '{"amount":90.0,"currency":"USD","ipAddress":"127.0.0.1","ecommerce":true,"cardData":{"cardToken":"cdeed21583e976f9ef4843"},"customerCode":"CST1146"}'
    headers:
      Api-Token:
      - "<API_TOKEN>"
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5e08d63c-6835-4269-8292-1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Hour-Limit-Remaining:
      - '3000'
      Minute-Limit-Remaining:
      - '95'
    body:
      encoding: ASCII-8BIT
      string: '{"transactionId":33888447,"dateCreated":"2025-04-11 11:21:14","cardBatchId":4662020,"status":"APPROVED","user":"Helcim
        System","type":"preauth","amount":90,"currency":"USD","avsResponse":"X","cvvResponse":"","cardType":"VI","approvalCode":"T2E6ST","cardToken":"cdeed21583e976f9ef4843","cardNumber":"4124939990","cardHolderName":"John
        Doe","customerCode":"CST1146","invoiceNumber":"INV001128","warning":""}'
  recorded_at: Fri, 11 Apr 2025 17:21:16 GMT
- request:
    method: post
    uri: https://api.helcim.com/v2/payment/capture
    body:
      encoding: UTF-8
      string: '{"preAuthTransactionId":"33888447","amount":90.0,"currency":"USD","ipAddress":"127.0.0.1"}'
    headers:
      Api-Token:
      - "<API_TOKEN>"
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2972ed65-4c40-45f4-a314-6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Hour-Limit-Remaining:
      - '3000'
      Minute-Limit-Remaining:
      - '94'
    body:
      encoding: ASCII-8BIT
      string: '{"transactionId":33888450,"dateCreated":"2025-04-11 11:21:16","cardBatchId":4662020,"status":"APPROVED","user":"Helcim
        System","type":"capture","amount":90,"currency":"USD","avsResponse":"X","cvvResponse":"","cardType":"VI","approvalCode":"T8E4ST","cardToken":"","cardNumber":"4124939990","cardHolderName":"John
        Doe","customerCode":"","invoiceNumber":"","warning":""}'
  recorded_at: Fri, 11 Apr 2025 17:21:18 GMT
recorded_with: VCR 6.3.1
