---
http_interactions:
- request:
    method: post
    uri: https://api.helcim.com/v2/customers
    body:
      encoding: UTF-8
      string: '{"contactName":"John Doe","cellphone":"0987654321"}'
    headers:
      Api-Token:
      - "<API_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Hour-Limit-Remaining:
      - '3000'
      Minute-Limit-Remaining:
      - '96'
    body:
      encoding: ASCII-8BIT
      string: '{"id":28668962,"customerCode":"CST1310","businessName":"","contactName":"John
        Doe","dateCreated":"2025-04-10 14:33:07","dateUpdated":"0000-00-00 00:00:00","cellphone":"0987654321","billingAddress":"","shippingAddress":"","cards":[]}'
  recorded_at: Thu, 10 Apr 2025 20:33:07 GMT
recorded_with: VCR 6.3.1
