---
http_interactions:
- request:
    method: post
    uri: https://api.helcim.com/v2/customers
    body:
      encoding: UTF-8
      string: '{"contactName":"John Doe","billingAddress":{"name":"John Doe","street1":"123
        Main St","street2":"Suite 101","city":"New York","province":"NY","country":"USA","postalCode":"10001"}}'
    headers:
      Api-Token:
      - "<API_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Hour-Limit-Remaining:
      - '3000'
      Minute-Limit-Remaining:
      - '94'
    body:
      encoding: ASCII-8BIT
      string: '{"id":28668966,"customerCode":"CST1312","businessName":"","contactName":"John
        Doe","dateCreated":"2025-04-10 14:33:08","dateUpdated":"0000-00-00 00:00:00","cellphone":"","billingAddress":{"name":"John
        Doe","street1":"123 Main St","street2":"Suite 101","city":"New York","province":"NY","country":"USA","postalCode":"10001","phone":"","email":""},"shippingAddress":"","cards":[]}'
  recorded_at: Thu, 10 Apr 2025 20:33:09 GMT
recorded_with: VCR 6.3.1
