---
http_interactions:
- request:
    method: post
    uri: https://api.helcim.com/v2/customers
    body:
      encoding: UTF-8
      string: '{"contactName":"John Doe","shippingAddress":{"name":"John Doe","street1":"456
        Ship St","city":"Los Angeles","province":"CA","country":"USA","postalCode":"90001"}}'
    headers:
      Api-Token:
      - "<API_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Hour-Limit-Remaining:
      - '3000'
      Minute-Limit-Remaining:
      - '93'
    body:
      encoding: ASCII-8BIT
      string: '{"id":28668968,"customerCode":"CST1313","businessName":"","contactName":"John
        Doe","dateCreated":"2025-04-10 14:33:09","dateUpdated":"0000-00-00 00:00:00","cellphone":"","billingAddress":"","shippingAddress":{"name":"John
        Doe","street1":"456 Ship St","street2":"","city":"Los Angeles","province":"CA","country":"USA","postalCode":"90001","phone":"","email":""},"cards":[]}'
  recorded_at: Thu, 10 Apr 2025 20:33:09 GMT
recorded_with: VCR 6.3.1
