---
http_interactions:
- request:
    method: post
    uri: https://api.helcim.com/v2/customers
    body:
      encoding: UTF-8
      string: '{"businessName":"Test Company LLC"}'
    headers:
      Api-Token:
      - "<API_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Hour-Limit-Remaining:
      - '3000'
      Minute-Limit-Remaining:
      - '95'
    body:
      encoding: ASCII-8BIT
      string: '{"id":28668964,"customerCode":"CST1311","businessName":"Test Company
        LLC","contactName":"","dateCreated":"2025-04-10 14:33:08","dateUpdated":"0000-00-00
        00:00:00","cellphone":"","billingAddress":"","shippingAddress":"","cards":[]}'
  recorded_at: Thu, 10 Apr 2025 20:33:08 GMT
recorded_with: VCR 6.3.1
