---
http_interactions:
- request:
    method: post
    uri: https://api.helcim.com/v2/customers
    body:
      encoding: UTF-8
      string: '{"contactName":"","businessName":""}'
    headers:
      Api-Token:
      - "<API_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Hour-Limit-Remaining:
      - '3000'
      Minute-Limit-Remaining:
      - '91'
    body:
      encoding: UTF-8
      string: '{"errors":"Contact name or business name should be filled"}'
  recorded_at: Thu, 10 Apr 2025 20:33:10 GMT
recorded_with: VCR 6.3.1
