---
http_interactions:
- request:
    method: post
    uri: https://api.helcim.com/v2/customers
    body:
      encoding: UTF-8
      string: '{"contactName":"John Doe","businessName":"Sample Business"}'
    headers:
      Api-Token:
      - "<API_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Hour-Limit-Remaining:
      - '3000'
      Minute-Limit-Remaining:
      - '85'
    body:
      encoding: ASCII-8BIT
      string: '{"id":28668974,"customerCode":"CST1316","businessName":"Sample Business","contactName":"John
        Doe","dateCreated":"2025-04-10 14:33:13","dateUpdated":"0000-00-00 00:00:00","cellphone":"","billingAddress":"","shippingAddress":"","cards":[]}'
  recorded_at: Thu, 10 Apr 2025 20:33:13 GMT
- request:
    method: put
    uri: https://api.helcim.com/v2/customers/28668974
    body:
      encoding: UTF-8
      string: '{"id":28668974,"contact_name":""}'
    headers:
      Api-Token:
      - "<API_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Hour-Limit-Remaining:
      - '3000'
      Minute-Limit-Remaining:
      - '84'
    body:
      encoding: UTF-8
      string: '{"errors":"Contact name or business name should be filled"}'
  recorded_at: Thu, 10 Apr 2025 20:33:14 GMT
recorded_with: VCR 6.3.1
